name: Build PTaH

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os_short }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - windows-latest
        include:
          - os: ubuntu-20.04
            os_short: linux
          - os: windows-latest
            os_short: windows

    steps:
    - name: Setup Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install AMBuild 2.1
      run: |
